<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ncu.zte.mapper.AreaMapper">
  

	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id">
		INSERT INTO area (areaID,area,parent)
			VALUES(#{areaID},#{area},#{parent});
	</insert>


  	<select id="selectByAreaID" resultType="Area">
		select * from city c,area a,province p where a.parent=c.cityID AND c.parent=p.provinceID and areaID=#{areaID}
	</select>
	
  	<select id="selectByParent" resultType="Area">
		select * from area where parent=#{parent}
	</select>

  </mapper>