<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ncu.zte.mapper.StudentMapper">


  	<select id="selectAll" resultType="Student">
		select * from student
	</select>

	
	<select id="selectStudentByName" resultType="Student">
		select * from student where name=#{name}
	</select>
	
	<select id="selectStudentByStuNum" resultType="Student">
		select * from student where student_num = #{studentNum}
	</select>
	
	<select id="login" resultType="Student">
		select * from student where student_num=#{studentNum} and password = #{password}
	</select>
	
  </mapper>